<label>Email</label></br>
<input type="email" id="id_email"/></br>
<label>Password</label></br>
<input type="password" id="id_password"/></br>
<button id="login">Login</button></br>
<button id="to-register">Register Here!</button></br>
<!--<div data-role="content">-->
    <!--<h3>-->
        <!--Consen TAT-->
    <!--</h3>-->
    <!--<div data-role="fieldcontain">-->
        <!--<label for="id_email">-->
            <!--Email-->
        <!--</label>-->
        <!--<input name="" id="id_email" placeholder="" value="" type="email" data-mini="true">-->
    <!--</div>-->
    <!--<div data-role="fieldcontain">-->
        <!--<label for="id_password">-->
            <!--Password-->
        <!--</label>-->
        <!--<input name="" id="id_password" placeholder="" value="" type="password"-->
               <!--data-mini="true">-->
    <!--</div>-->
    <!--<input id="login" type="submit" value="Login" data-mini="true">-->
    <!--<h5>-->
        <!--New Administrator?-->
    <!--</h5>-->
    <!--<input id="to-register" type="submit" value="Register Here!" data-mini="true">-->
<!--</div>-->